@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4 fw-bold text-primary mt-5">Welcome to User Management System</h1>
    <div class="bg-image d-flex justify-content-center align-items-center"
         style="
            background-image: url('https://mdbootstrap.com/img/new/fluid/nature/015.jpg');
            height: 100vh;
            ">
        <p class="display-7 mt-5 text-light">
            The User Management System (UMS) is designed to provide a seamless experience for users to register, log in, and manage multiple profiles within a single account. Whether it's for personal or professional use, the UMS offers robust security measures alongside intuitive features to streamline user interactions.<br />
            In the User Management System, users can effortlessly add, edit and delete their profiles, adding to the system's flexibility and user autonomy.
            <br />
            When editing profiles, users encounter an intuitive interface allowing seamless modification of details and preferences, with instant updates reflected across the system. Similarly, profile deletion is a straightforward process.
            <br />
            Leveraging the InMemory Database, these features are seamlessly integrated, offering efficient data manipulation and swift response times without compromising system performance.
        </p>
    </div>
</div>
